# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Vector Database
vector_db/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log


.vscode/
.DS_Store
